/* --------- Declarations ----------- */
@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes goRight {
    from {margin-right: 3vw;}
    to {margin-right: 0;}
}
@keyframes goUp {
    from {margin-top: 5vw;}
    to {margin-top: 0.5vw;}
}
:root {
    --purple: #1971e4;
    --yellow: #ffcc00;
    --hover: #8305be;
    --dark: #282C38;
    --light: #EDF1FD;
    --gray: #3F4253;
    --lightgray: #7D7E80;
    --lightergray: #cbccce;
    --red: rgb(252, 3, 57);
    --green: rgb(52, 214, 52);
    --blue: rgb(75, 163, 235);
    --textcolor: rgb(29, 29, 29);
}
html{scroll-behavior: smooth;}
body::-webkit-scrollbar {width: 0.5vw;}
body::-webkit-scrollbar-track {background: var(--lightergray);}
body::-webkit-scrollbar-thumb {background: var(--lightgray);}
body::-webkit-scrollbar-thumb:hover{background: var(--gray);}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: ltr;
    background-color: white;
    background-color: var(--light);
}
a{
    text-decoration: none;
    font-family: 'iransans';
}
.transparent-modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}